[(#REM)

Cette inclusion permet d'afficher les mots d'un groupe de mots, attachés à un article.
Un crayon permet d'éditer cette sélection.

Si un groupe est vide (pas de mot attaché à l'article), son titre est tout de même affiché.

@param int id_article (obligatoire)
    Identifiant de l'article
@param int id_groupe (obligatoire)
    Identifiant du groupe de mot
]
<BOUCLE_groupe(GROUPES_MOTS){id_groupe}>
	<div class="liste mots groupe#ID_GROUPE #EDIT{mots_article-#ID_ARTICLE}">
		<h2 class="h2">#TITRE</h2>
		<ul class="liste-items">
		<BOUCLE_mots(MOTS) {id_groupe} {id_article} {par num titre, titre}>
			<li class="item"><a href="#URL_MOT" rel="tag">#TITRE</a></li>
		</BOUCLE_mots>
			<li class="item"><:crayonsmots:aucun_mot_present:></li>
		<//B_mots>
		</ul>
	</div>
</BOUCLE_groupe>


