[(#REM)

Cette inclusion permet d'afficher les mots de certains groupes de mots, attachés à un article.
Un crayon permet d'éditer cette sélection.

Si un groupe est vide (pas de mot attaché à l'article), son titre est tout de même affiché.

@param int id_article
    * obligatoire *
    Identifiant de l'article
@param array(int) groupes
    Liste d'identifiants des groupes de mots clés sélectionnés.
    Sans précision, affichera tous les groupes possibles et imaginables !
@param int colonnes
    Nombre de colonnes de grille pris pour afficher 1 groupe de mot
    defaut: 4 (soit 3 colonnes-html pour toute la largeur – qui en compte 12)
]

<BOUCLE_selection_groupes(CONDITION){si #ENV{groupes}}>
	#SET{ids_groupes,#ENV{groupes}}
</BOUCLE_selection_groupes>
	#SET{ids_groupes,#LISTE}
	<BOUCLE_tous_groupes(GROUPES_MOTS){par num titre, titre}>
	#SET{ids_groupes,#GET{ids_groupes}|push{#ID_GROUPE}}
	</BOUCLE_tous_groupes>
<//B_selection_groupes>

#SET{span,#ENV{colonnes,4}}


<B_groupes>
<div class='selection_mots'>
	<div class='row-fluid'>
<BOUCLE_groupes(GROUPES_MOTS){id_groupe IN #GET{ids_groupes}}>
		<div class='span#GET{span}'>
			<div class='groupe#ID_GROUPE #EDIT{tags_article-#ID_ARTICLE}'>
				<h3 class='titre_groupe'>#TITRE</h3>
			<BOUCLE_mots(MOTS){id_groupe}{id_article}>
				<a href="#URL_MOT"><span class="label"><i class='icon-tag icon-white'></i> #TITRE</span></a>
			</BOUCLE_mots>
			</div>
		</div>
</BOUCLE_groupes>
	</div>
</div>
</B_groupes>

<style type='text/css'>
.selection_mots {
	border-radius:5px;
	background-color:#eee;
	padding:.5em;
	margin-bottom:1em;
}
.selection_mots .titre_groupe {
	color:#666;
	font-weight:bold;
	border-bottom:1px solid #ccc;
	padding-bottom:.3em; margin-bottom:.3em;
}
.selection_mots a:after {
	display:block;
}
</style>
