#SET{ids,#ENV{id_groupes_mot}|explode{-}}
#SET{id_groupe,#GET{ids/1}}
#SET{id_article,#GET{ids/0}}

<BOUCLE_groupe(GROUPES_MOTS){id_groupe=#GET{id_groupe}}>
	<h2 class="h2">#TITRE</h2>
	<ul class="liste-items">
	<BOUCLE_mots(MOTS) {id_groupe} {id_article=#GET{id_article}} {par num titre, titre}>
		<li class="item"><a href="#URL_MOT" rel="tag">#TITRE</a></li>
	</BOUCLE_mots>
		<li class="item"><:crayonsmots:aucun_mot_present:></li>
	<//B_mots>
	</ul>
</BOUCLE_groupe>
