#SET{ids,#ENV{id_groupes_mot}|explode{-}}
#SET{id_groupe,#GET{ids/1}}
#SET{id_article,#GET{ids/0}}

<BOUCLE_groupe(GROUPES_MOTS){id_groupe=#GET{id_groupe}}>
	<h3 class='titre_groupe'>#TITRE</h3>
	<BOUCLE_mots(MOTS) {id_groupe} {id_article=#GET{id_article}} {par num titre, titre}>
		<a href="#URL_MOT"><span class="label"><i class='icon-tag icon-white'></i> #TITRE</span></a>
	</BOUCLE_mots>
</BOUCLE_groupe>
